body{
	margin: 0;
}

header{
	width: 100%;
	background: cornflowerblue;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0 3px 3px grey;
}

header > h1,p{
	width: 900px;
	margin: 15px auto;
	color: white;
}

table{
	width: 900px;
	margin: 25px auto;
	padding: 0;
	text-align: center;
}

th{
	width: 150px;
}

td{
	width: 750px;
	box-sizing: border-box;
	margin: center;
}

/* 各Formパーツ */

input[type="radio"]{
	display: none;
}

label{
	display: block;
	padding: 15px;
	float: left;
	background: dimgrey;
	color: lightgrey;
}

.questionType > label{
	box-sizing: border-box;
	width: calc(750px/3);
}

input[type="radio"]:checked + label{
	background: cornflowerblue;
	color: white;
	transition:color ease 0.3s, background ease 0.3s;
}

input[type="number"]{
	text-align: center;
	font-size: 14pt;
	
}

.season > label{
	width: calc(750px/2);
	box-sizing: border-box;
}

.ansText{
	width: 730px;
	margin: auto;
}

.ansText > input[type="text"]{
	width: calc(700px/4);
}

textarea{
	width: 750px;
	height: 150px;
	font-size: 18pt;
	resize: none;
}