body{
    font-family:  'メイリオ',
    'Hiragio Kaku Gothic Pro',
    sans-serif;
    background-color: #fffffc;
}

h1{
	line-height: 50px;
}

header > img{
	width: 80px;
	height: 50px;
	box-sizing: border-box;
	border: solid 2px grey;
	float: left;
	margin-right: 20px;
}

h3,h4{
	margin-bottom: 20px; 
    padding: 5px 0px 5px 10px;
    background-color: #a5bbf4;
    border-radius: 5px
}

header{
    width: 950px;
    margin: 10px auto;
}

footer{
    width: 950px;
	margin:auto; 
	text-align: center;
}

/*ナビゲーションメニュー*/
nav ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0px;
    margin-bottom: 10px
}

nav li{
    display: inline;
    padding: 0px 60px 0px 60px;
    background-color: #f0f8ff;
    background-image: -webkit-gradinet(
		Liner,
		Left top,left bottom,
		from(#ffffff),
		to(#cfeeff));
    background-image: -webkit-linear-gradient(
		top,
		#ffffff 0%,
		#cfeeff 100%);
    background-image: linear-gradient(
        to bottom,
        #ffffff 0%,
        #dff4ff 100%);
    border: solid 1px #aaaaaa;
    border-radius: 3px;
}

nav a{
    color:black;
    text-decoration: none;
    
}

/*コンテンツ枠*/
article{
    background-color: #ffffff;
    width:600px;
	margin: 0 auto 25px auto;
    border:solid 1px #000000;
    padding: 20px 55px 20px 20px;
    border-radius: 15px
}


#Middle{
    width: 950px;
	margin: auto;  
    display: flex;
    flex-direction: row;
}

#MainContents{
    width:700px;
}


#SideMenu{
    width: 250px;
}

#SideMenu section{
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
	padding: 0;
    margin: 0px 0px 20px 0px;
    border-radius: 15px
}

#SideMenu > section > h4{
	margin: 0;
	border-radius: 0;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
} 

#SideMenu > section > ul{
	padding: 0;
	text-align: center;
	width: 230px;
	margin: 0 auto;
}

#SideMenu > section > ul > li{
	list-style-type: none;
	margin: 4px 0;
}


#SideMenu > section > ul > li > a:nth-child(even){
	margin-left: 10px;
}

input[type="submit"]{
    width: 80px;
    margin: 0px 0px 0px 0px;
    background-color: #ffaa00;
    background-image: -webkit-gradinet(
            Liner,
            Left top,left bottom,
            from(#ffe7b8),
            to(#ffaa00));
    background-image: -webkit-linear-gradient(
            top,
            #ffe7b8 0%,
            #ffaa00 100%);
    background-image: linear-gradient(
        to bottom,
        #ffe7b8 0%,
        #ffaa00 100%);
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    padding: 5px 10px 5px 10px
}

#content p input{
    padding:3px 10px 3px 10px;
}

aside label input{
    width:100px
}

#SideMenu li a{
    color:black;
    text-decoration: none;
}

/*top.html*/

#start{
    margin-left: auto;
    margin-right: auto;
}

#Field1{
    background-color: #ffffff
}
input[type="submit"]{
    width: 200px;
    background-color: #000000;
    background-image: -webkit-gradinet(
            Liner,
            Left top,left bottom,
            from(#ffe7b8),
            to(#ffd37c));
    background-image: -webkit-linear-gradient(
            top,
            #ffe7b8 0%,
            #fce2af 100%);
    background-image: linear-gradient(
        to bottom,
        #e5e5e5 0%,
        #cbcbcb 100%);
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size:23px;
    margin-bottom:40px;
}

#content p input{
    padding:3px 10px 3px 10px;
}

aside label input{
    width:100px
}

#SideMenu li a{
    color:black;
    text-decoration: none;
}

footer{
    width: 950px;
	margin: auto;  
}

#Field input{
    width:30px;
    margin-left:100px;
}

#AllSelect {
    text-align: right
}

#question1{
    content:"";
    display:block;
    clear:both;
    text-align: center;
    padding-bottom:30px}

#question2{
    content:"";
    display:block;
    text-align: center;
    clear:both;
    padding:10px 0px}

#select1{
    width:50%;
    margin:auto;
    float:left;    
}

#select2{
    width:50%;
    margin:auto;
    float:left;    
}

#select3{
    width:50%;
    margin:auto;
    float:left;    
}

#Genre{
    content:"";
    display:block;
    clear:both;
    text-align: center;
    padding: 10px 0px 40px 0px;

}

#select5{
    width:33.3333%;
    margin:auto;
    float:left;    
}

#select6{
    width:33.3333%;
    margin:auto;
    float:left;    
}

#select7{
    width:33.3333%;
    margin:auto;
    float:left;    
}

/*top.html*/

footer{
    width: 950px;
	margin: auto;  
}

/* UserName */

.userName > form > input{
	display: block;
	width: 200px;
	padding: 15px;
	margin: 10px auto;
	color: ghostwhite;
	box-shadow: 0 0 0 black;
	border: none;
	border-radius: 8px;
	background: none;
	-webkit-appearance:none;
	background: cornflowerblue;
}

/* UserName */

/* Guest */

.GuestLogin{
	background: cornflowerblue;
	color: white;
	text-align: center;
}

.GuestLogin > p > a{
	color: lightpink;
}

/* Guest */